<a href="/leagues">Leagues Index</a><br><a href="/clubs">Clubs Index</a>

<h1>Clubs</h1>
<% @clubs.each do |club| %>
<p><%= club.name %><br>
Position: <%= club.position %><br>
City: <%= club.city %><br>
Previous Winner: <%= club.previous_winner %>
</p>
<% end %>