<a href="/leagues">Leagues Index</a><br><a href="/clubs">Clubs Index</a>

<h1>Leagues</h1>

<% @leagues.each do |league| %>
  <p>
  <%= league.name %> 
  <%= link_to 'Edit', "/leagues/#{league.id}/edit" %>
  </p>
<% end %>

<a href="/leagues/new">New League</a>